@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 4%;
  --foreground: 210 20% 92%;
  --card: 0 0% 6%;
  --border: 210 20% 16%;
}

body {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
}
